.page {
    max-width: 800px;
    min-height: 900px;
    margin: 0 auto;
    background-color: map-get($theme-colors, "white");
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.514);
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

// 2 column layout
.row {
    display: grid;
    margin: 10px 0;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 2fr;
}

.section__title {
    font-weight: 100;
}

.content{
    &__title {
        font-weight:bold;
    }

    &__details {
        font-weight:normal;
        font-style: italic;
    }
    
    &__bullets {
        margin-left: 20px;
    }

    &--gap {
        margin-bottom: 10px;
    }
}