---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="{{ "assets/css/styles.css" | relative_url }}">
    </head>
    <body>
        <div class="page">
          {{ content }}
          {% include table.html yml="details" %}
          {% include single.html title="Summary" yml="summary"%}
          {% include array.html title="Education" yml="education" %}
          {% include array.html title="Experience" yml="experience" %}
          {% include array.html title="Extracurricular<br>Activities" yml="extracurricular" %}
          {% include array.html title="Seminars" yml="seminars" %}
          {% include list.html title="Personal Projects" yml="projects"%}
          {% include array.html title="Skills" yml="skills" %}
          {% include single.html title="Languages" yml="languages"%}
          {% include list.html title="Hobbies" yml="hobbies"%}
        </div>
    </body>
</html>
